body{
    font-family: papyrus, Arial, Helvetica, sans-serif
}
.site-heading-lower{
    font-family: papyrus, Arial, Helvetica, sans-serif
}
.mb-3{
    font-family: papyrus, Arial, Helvetica, sans-serif
}
a{
    font-family: papyrus, Arial, Helvetica, sans-serif
}
#mainNav{
    background-color: rgba(0, 0, 128, 0.657);
}